<%- include("partials/header");  %> 

<div class="ui main text container segment">
	<h2 class="ui huge header"><%=blog.title%></h2>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%=blog.image%>" alt="">
			<div class="content">
				<span><%=blog.created.toDateString()%></span>
			</div>
			<div class="description">
				<p><%-blog.body%></p>
			</div>
			<div>
				<a class="ui primary button" href="/blogs/<%= blog._id %>/edit">Edit</a>
				<form class="ui buttons" id="delete" action="/blogs/<%= blog._id %>?_method=DELETE " method="POST">
					<button class="ui primary button">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer");  %> 
